{{ block title }}
    Stage 2 results
{{ endblock }}
{{ block content }}

{{ if player.workerA_team1 == True }}


<html>
<head>
    <title>Your team</title>
    <style>
        table {
            margin: 20px auto;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td><img src="{{ static 'manager/neutral_avatar.png'}}" width="50"/> <br>
            <b>{{ workerA }}</b><br>
            Round 2 Score: {{ player.workerA_score }}</td>
            <td><img src="{{ static 'manager/neutral_avatar.png'}}" width="50"/> <br>
            <b>{{ workerB }}</b><br>
            Round 2 Score: {{ workerB_score }}</td>
        </tr>
    </table>
</body>
</html>

{{ endif }}
{{ if player.workerA_team1 == False }}
<html>
<head>
    <title>Your team</title>
    <style>
        table {
            margin: 20px auto;
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td><img src="{{ static 'manager/neutral_avatar.png'}}" width="50"/> <br>
            <b>{{ workerB }}</b><br>
            Round 2 Score: {{ workerB_score }}</td>
            <td><img src="{{ static 'manager/neutral_avatar.png'}}" width="50"/> <br>
            <b>{{ workerA }}</b><br>
            Round 2 Score: {{ player.workerA_score }}</td>
        </tr>
    </table>
</body>
</html>


{{ endif }}

You chose {{ workerA }} to be worker A. They have hence received an entry into a draw to receive a bonus of $1.00. <br><br>

In round 2, {{ workerA }} submitted {{ player.workerA_score }} correct answers. Which entitled you to a commission of {{ player.commission }}.<br><br>

{{ if participant.t3_observed == 1 }}

In total, {{ board_member_agreeing }} of your senior management board members approved of your choice for {{ workerA }} to be ranked as <b>Worker A</b>.
You can observe the real votes of the board below. <br><br>
<centre>

    <table class="table">
        <tr>
            <td colspan="3">Your board</td>
        </tr>
        <tr>
            <td colspan="3"><img src="{{ static 'manager/board_avatar.png'}}" width="150"/></td>
        </tr>
        <tr>
            <td>
                {{ player.board1 }} {{  if board1_agree == 1 }} approved. {{ endif }} {{ if board1_agree == 0 }} disapproved. {{ endif }}
            </td>
            <td>
                {{ player.board2 }} {{  if board2_agree == 1 }} approved. {{ endif }} {{ if board2_agree == 0 }} disapproved. {{ endif }}
            </td>
            <td>
                {{ player.board3 }} {{  if board3_agree == 1 }} approved. {{ endif }} {{ if board3_agree == 0 }} disapproved. {{ endif }}
            </td>
        </tr>
    </table>

    </centre>

<br><br>

Since each vote of approval from your senior management board entitles you to receive one third of your commission, your total commission payout is {{ player.round2_performance_payment }}. <br><br>

{{  endif }}

For your stage 2 payment, you will receive a fixed participation fee of $0.75 in addition to a bonus payment according to your earnings from one of the rounds.
A random draw was conducted and you will receive bonus payment from your performance in round {{ round_draw }}.
Thus your bonus payment from stage 1 is {{ participant.stage2_payoff }}.<br><br>

{{ if participant.board == 1 }}
Because of your achievement and experience in this stage, you have been selected to serve as a board member in the next and final stage. Click next to continue to stage 3.
{{ endif }}

{{ if participant.board == 0 }}
Thank you for taking part in this experiment. You may click next to complete some exit questions.
{{ endif }}
<br><br>
{{ next_button }}

{{ endblock }}