{{ block title }}
    Stage 2: Round 2
{{ endblock }}
{{ block content }}

<html>
<head>
    <title>Your team</title>
    <style>
        table {
            float: right;
            margin: 20px;
            border: 1px solid black; /* Border around the table */
            border-collapse: collapse; /* Collapses the border */
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td colspan="2">Your workers</td>
        </tr>
        <tr>
            <td><img src="{{ static 'manager/neutral_avatar.png'}}" width="50"/> <br>
            <b>{{ participant.team1 }}</b><br>
            Round 1 Score: {{ player.team1_score }}</td>
            <td><img src="{{ static 'manager/neutral_avatar.png'}}" width="50"/> <br>
            <b>{{ participant.team2 }}</b><br>
            Round 1 Score: {{ player.team2_score }}</td>
        </tr>
    </table>
</body>
</html>

<br>
<br>

In the second round of this stage you will <b>no longer work on a task:</b> instead you will delegate the work to your subordinates.
Because of this, both of the workers will have an increased work load and their task becomes more difficult.
Specifically the grid within which they must count the number of ones has expanded from the 3x3 size to 6x6 size.
An example of your workers' task is displayed below.<br><br>

        <div class="container">
        <table class="table table-bordered">
                <tr>
                 <td> {{ if grid_numbers.0 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.0 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.1 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.1 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.2 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.2 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.3 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.3 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.4 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.4 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.5 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.5 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.6 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.6 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.7 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.7 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.8 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.8 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.9 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.9 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.10 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.10 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.11 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.11 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.12 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.12 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.13 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.13 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.14 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.14 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.15 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.15 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.16 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.16 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.17 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.17 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.18 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.18 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.19 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.19 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.20 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.20 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.21 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.21 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.22 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.22 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.23 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.23 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.24 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.24 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.25 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.25 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.26 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.26 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.27 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.27 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.28 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.28 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.29 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.29 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
            <tr>
                 <td> {{ if grid_numbers.30 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.30 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.31 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.31 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.32 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.32 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.33 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.33 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.34 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.34 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
                 <td> {{ if grid_numbers.35 == 0 }}<img src="{{ static 'tables/zero.png'}}" width="50"/>{{ endif }} {{ if grid_numbers.35 == 1 }}<img src="{{ static 'tables/one.png'}}" width="50"/>{{ endif }}</td>
            </tr>
        </table>
    </div>
    <br>
    <br>


By delegating your work-load to your workers, you earn an income in this round by choosing a worker from whom you will earn commission off. <br><br>
Specifically, both workers are working on the hard task above for 60 seconds.
Your task is to now pick a worker, call them <b>Worker A</b>, who you wish to earn commission from.
While the workers continue to receive <b>$0.10</b> per correct answer they submit, you will earn a commission of <b>$0.20</b> for every correct answer your chosen <b>Worker A</b> submits.
You do not earn commission from the other worker. <b>Worker A</b> will also enter a draw to receive a bonus of $1.00.
Multiple managers may work with the same teams and so the draw will be determined according to how many entries each worker receives.

{{ if participant.t3_observed == 1 }}
<br><br>
<html>
<head>
    <title>Your board</title>
    <style>
        table {
            float: right;
            margin: 20px;
            border: 1px white; /* Border around the table */
            border-collapse: collapse; /* Collapses the border */
        }
        th, td {
            padding: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <td colspan="3">Your board</td>
        </tr>
        <tr>
            <td colspan="3"><img src="{{ static 'manager/board_avatar.png'}}" width="150"/><br>
            </td>
        </tr>
        <tr>
            <td>
                {{ player.board1 }}
            </td>
            <td>
                {{ player.board2 }}
            </td>
            <td>
                {{ player.board3 }}
            </td>
        </tr>
    </table>
</body>
</html>
<b>Additionally, you should note that you are under observation from your superiors during this round.
    Your superiors consist of a board of 3 experienced managers who will individually observe your choice of Worker A and vote whether they approve of this.
    For every board member that disapproves with your decision, you will lose one third of your commission. <br><br>

    The board members are shown to the right here.</b>



{{ endif }}

<br><br>
On the next page you will make your decision of <b>Worker A</b>. <br><br>

{{ next_button }}

{{ endblock }}
