{{ block title }}
    How do you think that went?
{{ endblock }}
{{ block content }}

{{ if participant.compete == 0 }}
Before you learn about the outcome of your interview, we would like to ask you how well you how many correct answers do you believe you submitted in the 90 seconds?
    <br> <small><i>You will earn $1.00 for the correct answer.</i></small>
<br>
    <br>
    <input name="belief_absolute" type="number" label=""/>
{{ endif }}

{{ if participant.compete == 1 }}
Before you learn about the outcome of your interview, we would like to ask you a couple of questions on how well you think you did.
<br>
<center>
How many correct answers do you believe that you submitted in 90 seconds?
    <br> <small><i>You will earn $1.00 for the correct answer.</i></small>
<br>
    <br>
    <input name="belief_absolute" type="number" label=""/>
    </center>
<br>
<br>
<br>
<center>
    <b>How well do you believe that you performed compared to the others in your interview group?</b><br>
    You will receive $1.00 bonus if you can correctly estimate the position at which your score places you among your group.
<br>
<br>



 <html>
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            width: 25%;
            text-align: center;
            border: 1px solid white;
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>1st place<br>
            <input type="radio" id="choice1" name="belief_relative" value=1></th>
            <th>2nd place<br>
            <input type="radio" id="choice2" name="belief_relative" value=2></th>
            <th>3rd place%<br>
            <input type="radio" id="choice3" name="belief_relative" value=2></th>
            <th>4th place<br>
            <input type="radio" id="choice4" name="belief_relative" value=4></th>
        </tr>
    </table>
</body>
</html>

</script>
    </center>

{{ endif }}

{{ next_button }}


{{ endblock }}
