{{ block title }}
    How do you think that went?
{{ endblock }}
{{ block content }}

{{ if participant.compete == 0 }}
Before you learn about the outcome of your interview, we would like to ask you how well you how many correct answers do you believe you submitted in the 90 seconds?
    <br> <small><i>You will earn $1.00 for the correct answer.</i></small>
<br>
    <br>
    <input name="belief_absolute" type="number" label=""/>
{{ endif }}

{{ if participant.compete == 1 }}
Before you learn about the outcome of your interview, we would like to ask you a couple of questions on how well you think you did.
<br>
<center>
How many correct answers do you believe that you submitted in 90 seconds?
    <br> <small><i>You will earn $1.00 for the correct answer.</i></small>
<br>
    <br>
    <input name="belief_absolute" type="number" label=""/>
    </center>
<br>
<br>
<br>
<center>
<b>Based on your performance, how likely do you believe you are to have outperformed the randomly chosen {{ if participant.blind == 0 }}female {{ endif }}worker?</b>
<br><small><i>You will be rewarded with $1.00 for accuracy based on the following procedure. Consider an empty bag. Suppose you believe that there is a 70% chance you were the top performer yet in fact you were not the top performer.
In this case we fill the bag with 7 red balls and 3 blue balls. The computer will then randomly draw a ball from the bag.
The red balls correspond to the chances that are the top performer so if a red is drawn, you will not be paid a bonus.
    If a blue is drawn however, this corresponds to the probability that you were not the top performer which is true in this case, so you will receive the bonus of $1.00.</i></small>
<br>
<br>



<input type="range" name="belief_relative" min="0" max="100" step="10" oninput="updateDescription(this)">
<p id="description"></p>
<script>
    let description = document.getElementById('description');
    function updateDescription(input) {
        let belief_relative = parseInt(input.value);
        description.innerText = `There is a ${belief_relative}% probability that I was the top performer`
    }
</script>
    </center>

{{ endif }}

{{ next_button }}


{{ endblock }}
