{{ block title }}
    Interview Choice
{{ endblock }}
{{ block content }}

Now that you are acquainted with the nature of the task, you are required to choose your preferred interview method.
Recall that regardless of the method of position procurement, a manager continues with the experiment and faces
multiple opportunities to increase earnings.
<br>
Once you click on your choice, you will begin the task straight away and your 30 seconds will begin.
<br>
 <html>
<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            width: 50%;
            text-align: center;
            border: 1px solid #000;
            padding: 10px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Compete for the role</th>
            <th>Roll a dice</th>
        </tr>
        <tr>
            <td>Perform the task for 30 seconds in the interview group (2 males, 2 females). Receive promotion and $2 signing bonus if score is
                                                                                                                                {{ if participant.quota == 0 }} in the top two positions among the team. {{ endif }}
                                                                                                                                {{ if participant.quota == 1 }} the highest among the two females or exceeds the scores of both the males. {{ endif }} Ties are decided by a fair die. </td>
            <td>You perform the task for 30 seconds obtaining $0.10 for each correct answer.
                After, a fair die is rolled. If the die shows a 1 or 2, you will be given a managerial position but without a signing bonus.</td>
        </tr>
        <tr>
            <th><button name="compete" value="True">Compete</button></th>
            <th><button name="compete" value="False">Roll a die</button></th>
        </tr>
    </table>
</body>
</html>

{{ endblock }}
