{{ block title }}
    How The Interview Works
{{ endblock }}
{{ block content }}

<p>
    You are free to decide how you wish to interview for the managerial position.
    As previously mentioned, the interviewer rewards either performance or luck.
    Regardless of the method by which the position is obtained, becoming a manager entails the continuation of the experiment
    along with multiple opportunities to increase one's earnings.
    </p>
<br>
<p>
    Concretely, you will perform a cognitive task for 30 seconds (the task will be explained in the next page).
    You have the choice of two methods of evaluation for the managerial position.
</p>
<ol>
  <li> <b>Compete:</b> You are assigned to a group of three other workers of {{ if participant.male == 1 }} 1 male and 2 females {{ endif }}{{ if participant.male == 0 }} 2 males and 1 female {{ endif }} such that your interview group is gender balanced.
        You will all perform the cognitive task competitively for 30 seconds.
      If you score in the top 2 positions among your interview team, then you are guaranteed to be promoted to manager and receive a $2 signing bonus.
      {{ if participant.quota == 1 }} However, DataProcess Ltd operates a gender quota for managerial positions. For every 1 male manager hired, 1 female manager must be hired also. Hence, to be promoted, you must
        {{ if participant.male == 1 }} be the highest performing male. {{ endif }}{{ endif }}
        {{ if participant.male == 0 }} be either the highest performing female or be the second-highest performing female and outscore the two competing males. {{ endif }} Ties are decided by a fair die.   </li>
  <li> <b>Roll the die:</b> You will receive $0.10 for every correct answer you submit in your 30 seconds.
      Afterwards, a fair die is rolled. If it lands on a 1 or 2, you will be given the manager position (no signing bonus is paid in this case).
      Any other number shown by the die results in you leaving the experiment with your show-up fee and piece-rate earnings from this round.</li>
</ol>

Before you make the decision you are free to try out the task which is described in the next page.
{{ next_button }}
{{ endblock }}


