
{{ block content }}

    {{ if participant.compete == 1 }}
    <h2>Interview Result</h2>
<br>
    You're score in the interview was {{ participant.interview_score }}. You were matched with worker {{ participant.worker_id }} who scored {{ participant.worker_score }}. <br>
<br><br>
        <!-- If win the competition -->
        {{ if participant.interview_score > participant.worker_score }}
Therefore, you have been earned the position of manager with a signing bonus of <b>$2.00</b>.
        <br><br>
        <b> Congratulations!</b>
        <br><br><br>
<h2>Belief Results</h2>
<br>
        You guessed that you submitted {{ player.belief_absolute }} correct answers.

            <!-- If guesses score correctly -->
            {{ if player.belief_absolute == participant.interview_score }}
This was correct and you have been credited with an additional bonus of <b>$1.00</b>.
            {{ endif }}

            <!-- If guesses score incorrectly -->
            {{ if player.belief_absolute != participant.interview_score }}
            This was unfortunately incorrect.
            {{ endif }}
            <br><br>

        You guessed that you were in the {{ belief_relative }} quartile of performances. Your score fell in the {{ relative }} quartile. Therefore you received a bonus payment of {{ payoff_relative }}. <br><br>


        {{ endif }}

        <!-- If do not win competition -->
        {{ if participant.interview_score <= participant.worker_score }}
        Therefore you have been unsuccessful in your interview. Thank you for taking the time to apply and you will be compensated with a base pay for your time.
        {{ endif }}

    {{ endif }}


    {{ if participant.compete == 0 }}
    <h2>Interview Outcome</h2>
<br>
    You're score in the interview was {{ participant.interview_score }} so your payoff for this performance is <b>{{ player.combined_payoff }}</b>.
<br>
<br>
    The computer has rolled a fair die to determine if you will be offered the managerial position.
        Recall that if the die lands on a 1 or a 2, you will be successful. The die has landed on a {{ participant.die_roll }}. <br> <br>

        {{ if participant.die_roll < 3 }}
        Hence you have been lucky enough to be offered a managerial position!
<br><br>
        <b> Congratulations!</b>
        <br><br><br>
<h2>Belief Results</h2>
<br>
        You guessed that you submitted {{ player.belief_absolute }} correct answers.

             <!-- If guesses score correctly -->
            {{ if player.belief_absolute == participant.interview_score }}
This was correct and you have been credited with an additional bonus of <b>$1.00.</b>
            {{ endif }}

            <!-- If guesses score incorrectly -->
            {{ if player.belief_absolute != participant.interview_score }}
            This was unfortunately incorrect.
            {{ endif }}
        <br><br>

        You may now proceed to the next round where you will begin work as a manager of a team.

        {{ endif }}

        <!-- If unsuccessful -->
        {{ if participant.die_roll > 2 }}
        Therefore you have been unsuccessful in your interview. Thank you for taking the time to apply and you will be compensated with a base pay for your time plus your performance payoff.

        {{ endif }}

    {{ endif }}
    <br>

    {{ if participant.manager == 1 }}
    Press next to continue to your work as manager.

    {{ next_button }}
    {{ endif }}

    {{ if participant.manager == 0 }}
    Thank you, you may now close the experiment.
    {{ endif }}



{{ endblock }}
