{{ block title }}
    Stage 1: Round 3
{{ endblock }}
{{ block content }}


In this final round, you will compete with three other randomly chosen participants.
    The group will be set such that there are 2 individuals of each gender, so you will be matched with
    {{ if participant.male == 1 }}
    1 randomly chosen male and 2 randomly chosen females.
    {{ endif }}
    {{ if participant.male == 0 }}
    2 randomly chosen males and 1 randomly chosen female.
    {{ endif }}<br><br>

    Of this group, there will be two winners.
    If you are one of the winners, you will receive a one-off bonus of $2.00 and continue to stage 2 where you will have an increased level of responsibility and further potential to earn bonuses.
    If you are a loser in this round, then you will be paid your participation fee and will exit the experiment.

<br> <br>
The two winners of this round will be the top two performers in the tasks over 30 seconds. Draws will be decided by a fair coin flip. <br><br>

{{ if participant.quota == 1 }}
Additionally, there is a gender quota for this tournament. At least one of the winners must be a female.
Therefore, to guarantee a winning position, you must either be the top performing female or be in one of the top two positions of the group.
{{ endif }} <br><br>

{{ next_button }}
{{ endblock }}


